@mixin border($side: all,
  $width: 2px,
  $style: solid,
  $color: var(--border-colour),
  $radius: 0) {
  @if $side ==all {
    border: $width $style $color;

    @if $radius !=0 {
      border-radius: $radius;
    }
  }

  @else if $side ==top {
    border-top: $width $style $color;
  }

  @else if $side ==right {
    border-right: $width $style $color;
  }

  @else if $side ==bottom {
    border-bottom: $width $style $color;
  }

  @else if $side ==left {
    border-left: $width $style $color;
  }
}

@mixin frosted($backgroundColor: var(--primary-accent-transparent)) {
  background: $backgroundColor;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
}