@use "@/app/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 16rem;
  height: 100%;
  @include border(right);

  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    span {
      font-size: 1.25rem;
      margin-right: auto;
      color: var(--primary-text)
    }

    svg {
      margin-right: 1rem;
    }
  }
}