@use "@/app/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding-right: 0.5rem;
  min-height: calc(100vh - 4rem);
  @include border(right);

  button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 0.5rem;

    p {
      font-size: 1.25rem;
      margin-right: auto;
      color: var(--primary-text)
    }

    .count {
      color: var(--primary-text);
    }

    svg {
      margin-right: 1rem;
    }

    &:hover {
      background-color: var(--hover-accent);
    }
  }
}