@use "@/app/mixins" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 18rem;
  padding-right: 0.75rem;
  min-height: calc(100vh - 4rem);
  @include border(right);

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 0.5rem;

    p {
      font-size: 1.25rem;
      margin-right: auto;
      color: var(--primary-text)
    }

    .count {
      color: var(--primary-text);
    }

    svg {
      margin-right: 1rem;
    }

    &:hover {
      background-color: var(--hover-accent);
    }
  }

  .active {
    background-color: var(--hover-accent);

    p {
      color: var(--primary-accent);
    }

    span {
      color: var(--primary-accent);
    }

    svg {
      color: var(--primary-accent);

      path,
      line,
      polyline,
      polygon,
      rect,
      circle,
      ellipse {
        stroke: var(--primary-accent);
      }
    }
  }
}