.profile {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.profilePictureContainer {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}