@use "@/app/mixins" as *;

.statusLabel {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  @include frosted();

  svg {
    margin-right: 0.25rem;
  }
}