.toolCard {
  background-color: red;
  height: 22rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--card-bg-colour);
  border-radius: 0.25rem;
  overflow: hidden;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 8rem;

    img {
      object-fit: contain;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .description {
    font-size: 0.875rem;
  }
}