DATABASE_URL=postgresql://postgres:somepassword@localhost:5433/finnovate-sales?schema=public
GOOGLE_CLIENT_ID=986321645-sjq47954vgsadfasdfsdafkag9fo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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dasd1dskcl2
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/callback
JWT_SECRET=your_jwt_secret_key
FRONTEND_URL=http://localhost:3000
